h1{color:crimson;}

h2{
    color:blue
}
 
h3 {
    color:rgb(72, 2, 110)
}


p,h1{
    font-size: 2em;
    font-family:Georgia, serif, Helvetica;
}

p,h2{
    font-size: 1.3em;
    font-family:Georgia, serif, Helvetica;
}

p,h3{
    font-size: 1em;
    font-family:Georgia, serif, Helvetica;
}

p,ul,td,th,dl,ol {
    font-family:Georgia, serif, Helvetica;
}

.evenrow{
    background-color: rgb(198, 196, 196);
}

.special {color:#6661b8}
nav {
    background-color:#f9bbe1;
}

nav a {
    color: #573443;
}

nav a:hover {
    background-color:#edb42d;
}

nav {
    padding: 10px;
    margin-bottom: 30 px;

}

body {
    background-color: #eef0fd;
    color: #8907a3;
}

a {
    color: #241f1d;
  }

h1, p {
    text-align: center;
}

.skills {
    display: flex;
    justify-content: space-around;
    flex-basis: 75%;
}

.box 
    {display: flex; 
        justify-content: space-around; float: left; margin-right: 10px; background-color: rgb(244, 211, 211); border-radius: 1em; padding: 10px;
        flex-basis: 25%;
}

.flexbox {
    display: flex;
}
  
.margin {
    text-align: left;
}

.imagebig {
    max-width: 100%;
}

.icon1 {
    width: 70px;
}

.icon2 {
    width: 70px;
}

.icon3 {
    width: 70px;
}

.icon4 {
    width: 70px;
}

.icon5 {
    width: 70px;
}

@media only screen and (max-width: 800px){
.flexnone a{display:block; padding-top: 1%; padding-bottom: 1%;} span {display:none} 
}


.map {
    flex-wrap: wrap !important;
}