h1{color:crimson;}

h2{
    color:blue
}
 
h3 {
    color:hotpink
}


p,h1{
    font-size: 2em;
    font-family:Georgia, serif, Helvetica;
}

p,h2{
    font-size: 1.3em;
    font-family:Georgia, serif, Helvetica;
}

p,h3{
    font-size: 1em;
    font-family:Georgia, serif, Helvetica;
}



.evenrow{
    background-color: rgb(198, 196, 196);
}

.special {color: purple}